#graph > svg {
	border: 1px solid black;
	--text-colour: #111;
	--line-colour: #666;
	--fill-colour: #eee;
	cursor: move;
	user-select: none;
}

/* Links */
#graph > svg .graph-link {
	stroke: var(--line-colour);
	stroke-width: 0.4px;
	cursor: default;
	user-select: none;
}

#graph > svg[dragging] > * {
	pointer-events: none; /*Drag over other stuff while dragging.*/
}

#graph-layer-links {
	pointer-events: none; /*Graph links have no interaction atm.*/
}

#graph > svg .graph-link > .cursor-padding { /* Make lines wider, easier to click, with a thick invisible line. */
	stroke-width: 10px;
	stroke: #F000;
}

/* Nodes */
#graph > svg .graph-node {
	cursor: pointer;
	cursor: grab;
}
#graph > svg .graph-node:hover,
#graph > svg .graph-link:hover {
	/*--line-colour: #000;*/
}
#graph > svg .graph-node:active {
	cursor: grabbing;
	filter: url(#dropshadow);
	transform: translateY(-0.5px);
}

#graph > svg .graph-node > * {
	fill: var(--fill-colour);
	stroke: var(--line-colour);
	stroke-width: 0.5px;
}

#graph > svg .graph-node > text,
#graph > svg .graph-link > text {
	font-family: sans-serif;
	fill: var(--text-colour);
	stroke: none;
	font-size: 5.5pt;
	transform: translateY(0.5ex);
	line-height: 50%;
	text-align: center;
	text-anchor: middle;
}
#graph > svg .graph-link > text {
	font-size: 5pt;
}